<!DOCTYPE html>
<html ng-app="app">
    <head>
        <link rel="icon" type="image/png" href="~/Content/Images/favicon.png" />
        <meta charset="utf-8" />
        <title ng-bind="title">Ads Course Work</title>
        @Styles.Render("~/bundles/css/site")
        @RenderSection("styles", false)
    </head>
    <body role="document" ng-cloak>
        <div class="container" role="main">
            <header-menu></header-menu>
        </div>

        <section id="main-section">
            @RenderBody()
        </section>

        <footer>
            footer
        </footer>

        @Scripts.Render("~/bundles/js/lib")
        @Scripts.Render("~/bundles/js/spa")
        @RenderSection("scripts", false)
    </body>
</html>
